/* whole page css will cover here. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* this is body of clock container */
body {
  font-family: monospace, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.clock {
  /* position: relative;
  top: 60px;
  left: 40%; */
  text-align: center;
  background: linear-gradient(45deg, rgb(208, 241, 124), rgb(211, 138, 79));
  border-radius: 10px;
  box-shadow: 15px 16px 100px rgb(131, 155, 47);
  padding: 20px;
  width: 400px;
}

.time {
  font-size: 3rem;
  margin: 20px 0;
  color: #002aff;
  filter: drop-shadow(2px -4px 1px #ff0202);
  font-weight: 700;
}
.input-row {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* all the input element css set at one place by this css selection */
input[type="date"],
input[type="time"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

/* to display before input element */
label {
  border: 1px solid white;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  color: white;
  background-color: rebeccapurple;
  border-radius: 45px;
}
/* .button-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
} */

#setAlarm {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#setAlarm:hover,
#updateTime:hover {
  background-color: #0056b3;
}

.alarms {
  margin-top: 20px;
  text-align: left;
  color: #333;
}

/* all records of set alarm list */
.alarm {
  width: 350px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 20px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
  font-size: 14px;
}

/* This will lead to animation of set alarm list */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
